body {
    /* background-color: rgb(59, 59, 59); */
    font-family: Arial, sans-serif;
}

.section-base {
    padding: 30px 0;
}

.section-medium {
    padding: 50px 0;
}

.section-large {
    padding: 70px 0;
}

.section-main-hero {
    padding-top: 200px;
}

.section-sup {
    margin-bottom: 10px;
}

.section-title {
    margin-bottom: 25px;
}

.section-title-small {
    margin-bottom: 15px;
}

.section-title.section-title-small {
    margin-bottom: 3px;
    color: #2E6CCB;
    font-weight: 400;
}

.section-subtitle {
    margin-bottom: 22px;
}

.section-text {
    margin-bottom: 20px;
}

.row-margin-top {
    margin-top: 50px;
}

.logo-sony-dimensions {
    max-height: 40px;
    max-width: 10%;
}

.logo-ps-dimensions {
    max-height: 40px;
    max-width: 120px;
}

.logo-padding {
    padding: 10px 0;
}

.my-btn {
    border-radius: 20px;
    font-weight: 500;
}

.margin-icon {
    margin-right: 10px;
    margin-left: 30px;
}

/************* MIEI CAMBIAMENTI ************************/

.navbar-light .navbar-nav .nav-link {
    color: rgb(0,0,0);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 0.5rem;
}

.btn-primary {
    color: #fff;
    background-color: #485DE4;
    border-color: #485DE4;
}

.btn-secondary {
    color: #4057E4;
    background-color: #D8D9DB;
    border-color: #D8D9DB;
}

.btn-dark {
    color: #fff;
    background-color: #383838;
    border-color: #383838;
}

.btn-light {
    color: #000;
    background-color: #F5F5F5;
    border-color: #F5F5F5;
}

.btn-danger {
    color: #fff;
    background-color: #CB451D;
    border-color: #CB451D;
}

.returnal-bg {
    background-image: url("../img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
}

.it-takes-two-bg {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
}

.dark-grey-bg {
    background-color: #242424;
}

.light-grey-bg {
    background-color: #BCBAB9;
}

.dark-blue-bg {
    background-color: #1F203D;
}

.light-blue-bg {
    background-color: #264099;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.3rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 0.9rem;
}

.text-small {
    font-size: 0.8rem;
}

.card.active::before {
    content: "";
    border: 2px solid blue;
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    border-radius: 1.25rem;
}

.card-games img{
    border-radius: 1.25rem;
}

.card {
    /* overflow: hidden; */
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 1.25rem;
    border: 0;
    background-color: transparent;
}

.my-grey {
    color: #707070;
}

.opacity-scale {
    filter: opacity(60%);
}

.r-mark {
    font-size: 10px;
    position: relative;
    bottom: 15px;
}

.link a {
    display: block;
    text-decoration: none;
    color: white;
    margin: 5px 0;
}

/********************** MEDIA ***************************/

/* @media (min-width: 2480px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 2300px;
    }
} */