body {
    background-color: rgb(59, 59, 59);
    font-family: Arial, sans-serif;
}

.section-base {
    padding: 20px 0;
}

.section-medium {
    padding: 40px 0;
}

.section-large {
    padding: 60px 0;
}

.section-main-hero {
    padding-top: 200px;
}

.section-sup {
    margin-bottom: 10px;
}

.section-title {
    margin-bottom: 30px;
}

.section-title.section-title-small {
    margin-bottom: 15px;
}


.section-subtitle {
    margin-bottom: 24px;
}

.section-text {
    margin-bottom: 18px;
}

.logo-sony-dimensions {
    max-height: 40px;
    max-width: 10%;
}

.logo-ps-dimensions {
    max-height: 40px;
    max-width: 120px;
}

.logo-padding {
    padding: 10px 0;
}

.my-btn {
    border-radius: 20px;
    font-weight: 600;
}

.margin-icon {
    margin-right: 10px;
    margin-left: 30px;
}

/************* MIEI CAMBIAMENTI ************************/

.navbar-light .navbar-nav .nav-link {
    color: rgb(0,0,0);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 0.5rem;
}

.btn-secondary {
    color: #fff;
    background-color: #383838;
    border-color: #383838;
}

.returnal-bg {
    background-image: url("../img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.3rem;
}

h4 {
    font-size: 1.3rem;
}

h5, .text-small {
    font-size: 0.9rem;
}